html,
body {
    height: 100%;
}

* {
    font-family: "Merienda", cursive;
}

body {
    margin-top: 0px;
    width: 769px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    width: 100%;
}

header {
    margin: 0px;
}

.menu-icon {
    display: none;
}

/*Menu Hamburguesa*/
nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

/**/

h1 {
    text-align: center;
    color: #E7B71B;
    font-size: 3.0em;
    font-weight: bold;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
}

#presentacion {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

article {
    text-align: center;
}

#imgprin {
    display: block;
    object-fit: contain;
    width: 90%;
    height: auto;
}

#imgprin2 {
    display: none;
    object-fit: contain;
    width: 90%;
    height: auto;
}

#artimgprin {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#ubicacion {
    width: 35%;
    font-size: smaller;
}

footer img {
    width: 20px;
    height: 20px;

}

#iconos {
    flex: 1;
    text-align: center;
}

#vacio {
    width: 35%;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: black;
    list-style: none;
}

.dropdown li {
    float: none;
    background-color: black;
    padding: 10px;
}

.dropdown li a {
    background-color: inherit;
}

nav li:hover .dropdown {
    display: block;
}

#maintto {
    display: flex;
    flex-direction: row;
    /*overflow-x: hidden;*/
}

#maintto>div {
    width: 50%;
}

#maintto>div>img {
    width: 100%;
    height: auto;
}

#divtto {
    padding-left: 15px;
    padding-right: 35px;
}

#divmv {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 6em;
    margin-top: 45px;
    gap: 25%;
}

#divmv h2 {
    text-align: center;
}

#maincentrado {
    display: flex;
    flex-direction: column;
}

#mainnosotros {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tj {
    text-align: justify;
}

#parte01 {
    margin-top: 45px;
}

main {
    flex: 1;
}

figure figubicanos {
    text-align: center;
    height: 100%;
    width: auto;
}

.h100 {
    height: 100%;
}

#imgubicacion {
    height: 90%;
    width: 100%;
    object-fit: cover;
}

#vacio {
    text-align: right;
}

.tc {
    text-align: left;
    letter-spacing: 6px;
    font-size: 60pt;
}

.h2texto {
    letter-spacing: 6px;
    color: #E7B71B;
    font-size: 30pt;
}

.frm_group {
    display: flex;
    justify-content: space-between;
}

#formu {
    margin-left: 5%;
    margin-right: 5%;
}

#btnregistrar {
    flex: none;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 50%;
    background-color: #EC96D5;
    font-size: larger;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

#maincontactanos {
    background-image: url("../imagenes/imgfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

/* Dispositivos móviles grandes (a 768px) */
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    #imgprin,
    #vacio {
        display: none;
    }

    #imgprin2 {
        display: block;
    }

    footer {
        flex-direction: column;
    }

    #ubicacion {
        width: 100%;
        text-align: center;
    }

    nav ul li {
        float: none;
        display: none;
    }

    nav ul li a {
        text-align: left;
    }

    /* Mostrar el ícono del menú hamburguesa */
    .menu-icon {
        display: block;
        color: white;
        background-color: #333;
        padding: 14px;
        text-align: center;
        cursor: pointer;
    }

    /* Mostrar el menú cuando esté activo */
    nav.active ul li {
        display: block;
    }

    #divmv {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    #maintto {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #maintto>div {
        width: 100%;
    }

    #divtto {
        padding-left: 0px;
        padding-right: 0px;
    }

    #divtto p {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #divtto h2 {
        padding-left: 1rem;
    }

    .dropdown {
        margin-left: 25%;
        margin-top: -3rem;
    }

    .frm_group {
        flex-direction: column;
    }

    .frm_group>* {
        height: 2rem;
    }

    #btnregistrar {
        width: 60%;
    }
}

/* Tabletas (769px a 1024px) */
@media only screen and (min-width: 769px) {
    nav>ul {
        display: flex;
        flex-direction: row;

    }

    nav>ul>li {
        flex: 1;
        display: inline-block;
        margin-left: 0px;
        text-decoration: none;
    }

    .frm_group {
        flex-direction: row;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .frm_group>* {
        flex: 1;
    }

    #btnregistrar {
        margin-top: 1rem;
    }
}