body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-family: "Merienda", cursive;
    color: white;
}

nav>ul {
    display: flex;
    flex-direction: row;

}

nav>ul>li {
    flex: 1;
    display: inline-block;
    margin-left: 0px;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #E7B71B;
    font-size: 3.0em;
    font-weight: bold;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
}

#presentacion {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

article {
    text-align: center;
}

#imgprin {
    width: 600px;
    height: auto;
}


a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    display: flex;
    flex-direction: row;
}

#ubicacion{
    width: 35%;
    font-size: smaller;
}

footer img {
    width: 20px;
    height: 20px;

}

#iconos {
    flex: 1;
    text-align: center;
}

#vacio{
    width: 35%;
}