body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-family: "Merienda", cursive;
    color: white;
}

nav>ul {
    display: flex;
    flex-direction: row;

}

nav>ul>li {
    flex: 1;
    display: inline-block;
    margin-left: 0px;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #E7B71B;
    font-size: 3.0em;
    font-weight: bold;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
}

#presentacion {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

article {
    text-align: center;
}

#imgprin {
    width: 600px;
    height: auto;
}


a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    display: flex;
    flex-direction: row;
}

#ubicacion {
    width: 35%;
    font-size: smaller;
}

footer img {
    width: 20px;
    height: 20px;

}

#iconos {
    flex: 1;
    text-align: center;
}

#vacio {
    width: 35%;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: black;
}

.dropdown li {
    float: none;
    background-color: black;
}

.dropdown li a {
    background-color: black;
}

nav li:hover .dropdown {
    display: block;
}

#maintto {
    display: flex;
    flex-direction: row;
}

#maintto>div {
    width: 50%;
}

#maintto>div > img {
    width: 100%;
    height: auto;
}

#divtto {
    padding-left: 15px;
    padding-right: 35px;
}

#divmv{
display: flex;
flex-direction: row;
flex: 1;
width: 80%;
margin-left: auto;
margin-right: auto;
gap: 6em;
}

#divmv h2{
    text-align: center;
}

#mainnosotros{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tj{
    text-align: justify;
}